.container {

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 2vh 3vh;
    gap: 3.5vh;

    /* background-color: var(--border-color);
    border-bottom: solid var(--font-color) 2px; */

}

.linkContainer {

    display: flex;
    flex-direction: row;
    gap: 2.5vw;
    margin-left: auto;

}

a {

    color: var(--font-color);
    text-decoration: none;

}

.navbarTitle {

    margin: 0;
    font-size: 1.8em;
    font-weight: bold;

}

.navlink {

    font-size: 1.2em;
    height: 1.4rem;
    box-sizing: border-box;

}

.navlink:hover {

    color: var(--font-highlight);
    border-bottom: solid var(--font-highlight) 2px;
    /* filter: drop-shadow(0 0 0.5rem); */

}

@media (max-width: 720px) {
    
    .container {

        flex-direction: column;

    }

    .linkContainer {

        margin: 0;
        gap: 4vw;

    }

}